[Unit]
Description=uWSGI instance to serve munas to LIS
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/pphost/salesforce
Environment="PATH=/home/pphost/salesforce/venv/bin"
ExecStart=/home/pphost/salesforce/venv/bin/uwsgi --ini salesforce.ini

[Install]
WantedBy=multi-user.target