{% extends 'index.html' %}

{% block scripthead %}
<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    sessionStorage.setItem("leadsObj", '{{response_data|tojson}}')
    console.log({{ response_data | tojson}})
    // document.location = "/home"
    {% else %}
    console.log({{ response_data| tojson}})
    {% endif %}
    const leadsObj = {{ response_data| tojson}}

</script>
{% endblock %}

{% block content %}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="page-title-box">


                        <h4 class="page-title">Dashboard</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->


                <div class="row">

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="card-box widget-box-one">
                            <i class="mdi mdi-chart-areaspline widget-one-icon"></i>
                            <div class="wigdet-one-content">
                                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Total Leads">Total Leads</p>
                                <h2>{{response_data.total_leads}}</h2>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="card-box widget-box-one">
                            <i class="mdi mdi-account-convert widget-one-icon"></i>
                            <div class="wigdet-one-content">
                                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Pending Tasks">Pending Tasks</p>
                                <h2>{{response_data.today}}</h2>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="card-box widget-box-one">
                            <i class="mdi mdi-layers widget-one-icon"></i>
                            <div class="wigdet-one-content">
                                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Overdue Tasks">Overdue Tasks</p>
                                <h2>{{response_data.overdue}}</h2>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>

            <!-- end row -->




        </div> <!-- container -->

    </div> <!-- content -->

</div>
</div>

{% endblock %}