{% extends 'index.html' %}


{% block scripthead %}
<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    sessionStorage.setItem("leadsObj", '{{response_data|tojson}}')
    console.log({{ response_data|tojson}})
    // document.location = "/home"
    {% else %}
    console.log({{ response_data|tojson}})
    {% endif %}

</script>
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">View All Follow Ups</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->



            <div class="row">
                <div class="col-sm-12">
                    <div id="lead-row" class="card-box">
                        <div class="row">
                            <div class="demo-box m-t-20">
                                <h4 class="m-t-0 header-title"><b> Follow Ups </b></h4>
                                <div class="table-responsive">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#overdue" data-toggle="tab" aria-expanded="true">
                                                <span class="visible-xs"><i class="fa fa-home"></i></span>
                                                <span class="hidden-xs">Over Due</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#today" data-toggle="tab" aria-expanded="false">
                                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                                <span class="hidden-xs">Today</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#next7day" data-toggle="tab" aria-expanded="false">
                                                <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                                <span class="hidden-xs">Next 7 days</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#all" data-toggle="tab" aria-expanded="false">
                                                <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                                <span class="hidden-xs">All</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="overdue">
                                            <table class="table m-0 table-colored-bordered table-bordered-primary">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Task</th>
                                                        <th>Deadline</th>
                                                        <th>Client</th>
                                                        <th>Project</th>
                                                        <th>Comment</th>
                                                        <th>Actions</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="lead-detail">
                                                    {% for obj in response_data %}
                                                    {% if moment(obj.next_deadline).format('YYYY MM DD, HH:mm:ss') < moment().format('YYYY MM DD, HH:mm:ss') %}
                                                    <tr>
                                                        <th scope="row">{{loop.index}}<button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="right" title="" data-original-title="'{{obj.lead.id}}'"><i class="mdi mdi-key-variant"></i></button></th>
                                                        <td>{{obj.next_task}}</td>
                                                        <td>{{moment(obj.next_deadline).calendar()}}</td>
                                                        <td>{{obj.lead.first_name}}</td>
                                                        <td>{{obj.next_project}}</td>
                                                        <td>{{obj.comment}}</td>
                                                        <td><a href="/api/follow_ups/create?lead='{{obj.lead.id}}'">
                                                            <i class="glyphicon glyphicon-plus"></i></a><button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="left" title="" data-original-title="'{{obj.lead.phone_number}}'"><i class="mdi mdi-cellphone-basic"></i></button></td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="tab-pane" id="today">
                                            <table class="table m-0 table-colored-bordered table-bordered-primary">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Task</th>
                                                        <th>Deadline</th>
                                                        <th>Client</th>
                                                        <th>Project</th>
                                                        <th>Comment</th>
                                                        <th>Actions</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="lead-detail">
                                                    {% for obj in response_data %}
                                                    {% if moment(obj.next_deadline).format('YYYY MM DD, HH:mm:ss') == moment().format('YYYY MM DD, HH:mm:ss') %}
                                                    <tr>
                                                        <th scope="row">{{loop.index}}<button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="right" title="" data-original-title="'{{obj.lead.id}}'"><i class="mdi mdi-key-variant"></i></button></th>
                                                        <td>{{obj.next_task}}</td>
                                                        <td>{{moment(obj.next_deadline).calendar()}}</td>
                                                        <td>{{obj.lead.first_name}}</td>
                                                        <td>{{obj.next_project}}</td>
                                                        <td>{{obj.comment}}</td>
                                                        <td><a href="/api/follow_ups/create?lead='{{obj.lead.id}}'">
                                                            <i class="glyphicon glyphicon-plus"></i></a><button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="left" title="" data-original-title="'{{obj.lead.phone_number}}'"><i class="mdi mdi-cellphone-basic"></i></button></td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="next7day">
                                            <table class="table m-0 table-colored-bordered table-bordered-primary">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Task</th>
                                                        <th>Deadline</th>
                                                        <th>Client</th>
                                                        <th>Project</th>
                                                        <th>Comment</th>
                                                        <th>Actions</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="lead-detail">
                                                    {% for obj in response_data %}
                                                    {% if moment(obj.next_deadline).format('YYYY MM DD, HH:mm:ss') > moment().format('YYYY MM DD, HH:mm:ss') %}
                                                    <tr>
                                                        <th scope="row">{{loop.index}}<button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="right" title="" data-original-title="'{{obj.lead.id}}'"><i class="mdi mdi-key-variant"></i></button></th>
                                                        <td>{{obj.next_task}}</td>
                                                        <td>{{moment(obj.next_deadline).calendar()}}</td>
                                                        <td>{{obj.lead.first_name}}</td>
                                                        <td>{{obj.next_project}}</td>
                                                        <td>{{obj.comment}}</td>
                                                        <td><a href="/api/follow_ups/create?lead='{{obj.lead.id}}'">
                                                            <i class="glyphicon glyphicon-plus"></i></a><button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="left" title="" data-original-title="'{{obj.lead.phone_number}}'"><i class="mdi mdi-cellphone-basic"></i></button></td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="all">
                                            <table class="table m-0 table-colored-bordered table-bordered-primary">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Task</th>
                                                        <th>Deadline</th>
                                                        <th>Client</th>
                                                        <th>Project</th>
                                                        <th>Comment</th>
                                                        <th>Actions</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="lead-detail">
                                                    {% for obj in response_data %}
                                                    <tr>
                                                        <th scope="row">{{loop.index}}<button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="right" title="" data-original-title="'{{obj.lead.id}}'"><i class="mdi mdi-key-variant"></i></button></th>
                                                        <td>{{obj.next_task}}</td>
                                                        <td>{{moment(obj.next_deadline).calendar()}}</td>
                                                        <td>{{obj.lead.first_name}}</td>
                                                        <td>{{obj.next_project}}</td>
                                                        <td>{{obj.comment}}</td>
                                                        <td><a href="/api/follow_ups/create?lead='{{obj.lead.id}}'">
                                                            <i class="glyphicon glyphicon-plus"></i></a><button type="button" class="btn btn-default" style="border: none; padding: 0px 4px" data-toggle="tooltip" data-placement="left" title="" data-original-title="'{{obj.lead.phone_number}}'"><i class="mdi mdi-cellphone-basic"></i></button></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->



        </div> <!-- container -->

    </div> <!-- content -->


</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

{% endblock %}

{% block scriptfooter %}

<script>
   //if (TokenObj.user.name == 1)
     //     response_code = parseInt("{{response_code}}")
     //     response_message = "{{response_message}}"
     //     response_data = "{{response_data}}"
     //     // document.location = "/home"
     //   console.log({{response_data}})

</script>

{% endblock %}