{% extends 'index.html' %}


{% block scripthead %}
<script>
    response_code = parseInt("{{response_code}}")
    response_message = "{{response_message}}"
    {% if response_code == 200 %}
    sessionStorage.setItem("leadsObj", '{{response_data|tojson}}')
    // document.location = "/home"
    {% else %}
    console.log({{response_data|tojson}})
    {% endif %}
    const leadsObj = JSON.parse(sessionStorage.getItem('leadsObj'))
  
</script>
{% endblock %}

{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">


                        <div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title">View All Leads </h4>
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                        <!-- end row -->



                        <div class="row">
							<div class="col-sm-12">
								<div id="lead-row" class="card-box">

								</div> <!-- end card-box -->
							</div> <!-- end col -->
						</div>
                        <!-- end row -->



                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    2021 © PropPioneers
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

 {% endblock %}

 {% block scriptfooter %}
 
 <script>
     console.log(leadsObj)

       leadsObj.forEach((element1, j) => {
        if (element1[0] === TokenObj.user.name) {
            $("#lead-row").append(`<div  class="row">
                <div class="demo-box m-t-20">
                    <h4 class="m-t-0 header-title"><b>` + element1[0] + `</b></h4>
                    <div class="table-responsive">
                        <table class="table m-0 table-colored-bordered table-bordered-primary">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Project</th>
                                    <th>Level</th>
                                    <th>Status</th>
                                    <th>Source</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="lead-detail"></tbody>
                        </table>
                    </div>
                </div>
            </div>`)
            element1[1].forEach((item, k) => {
                $("#lead-detail").append(`<tr>
                    <th scope="row"><a href="/api/follow_ups/create?lead=${item.id}"><i class="glyphicon glyphicon-plus"></i></a>`+(k+1)+`</th>
                    <td>` + item.first_name + `</td>
                    <td>`+item.phone_number + `</td>
                    <td>`+item.email_address + `</td>
                    <td>`+item.project + `</td>
                    <td>`+item.lead_level + `</td>
                    <td>`+item.lead_status + `</td>
                    <td>`+item.lead_source + `</td>
                </tr>`)            
        })}});

       leadsObj.forEach((element1, j) => {
        if (element1[0] !== TokenObj.user.name) {
            $("#lead-row").append(`<div  class="row">
                <div class="demo-box m-t-20">
                    <h4 class="m-t-0 header-title"><b>` + element1[0] + `</b></h4>
                    <div class="table-responsive">
                        <table class="table m-0 table-colored-bordered table-bordered-primary">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Project</th>
                                    <th>Level</th>
                                    <th>Status</th>
                                    <th>Source</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="lead-detail`+j+`"></tbody>
                        </table>
                    </div>
                </div>
            </div>`)
            ele = "#lead-detail"+j
            element1[1].forEach((item, k) => {
                $(ele).append(`<tr>
                    <th scope="row">`+(k+1)+`</th>
                    <td>` + item.first_name + `</td>
                    <td>`+item.project + `</td>
                    <td>`+item.lead_level + `</td>
                    <td>`+item.lead_status + `</td>
                    <td>`+item.lead_source + `</td>
                </tr>`)            
        })}});
     //if (TokenObj.user.name == 1)
     //     response_code = parseInt("{{response_code}}")
     //     response_message = "{{response_message}}"
     //     response_data = "{{response_data}}"
     //     // document.location = "/home"
     //   console.log({{response_data}})
     
</script>

{% endblock %}