{% extends 'index.html' %}


{% block scripthead %}
<link href="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet" type="text/css" />

<script>
  response_code = parseInt("{{response_code}}")
  response_message = "{{response_message}}"
  console.log({{ response_data| tojson}})
  {% if response_code == 200 %}
  sessionStorage.setItem("leadsObj", '{{response_data|tojson}}')
  // document.location = "/home"
  {% else %}
  console.log({{ response_data| tojson}})
  {% endif %}
  const leadsObj = {{ response_data| tojson}}


</script>
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">View All Leads </h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="row" id="filter">
        <div class="col-xs-12">
          <form action="/api/leads/read" method="POST" id="leads_date">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">Select Date</label>
                        <div id="reportrange" class="pull-right form-control">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span></span>
                            <input id="start" type="hidden" name="date_start" value="">
                            <input id="end" type="hidden" name="date_end" value="">
                        </div>
                        <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="col-sm-2 control-label">Assigned To</label>
                <div class="col-sm-10">
                    <select class="form-control" name="assigned_to" title="assigned_to">
                        <option value="">Team {{response_data['username']}}</option>
                        {% for user in response_data['all_users'] %}
                        <option value="{{user[0]}}">{{user[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            </div>
            <div class="col-sm-12">
                <button class="applyBtn btn btn-sm btn-success" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="table-responsive">
              <div class="card-box table-responsive">
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Assigned to</th>
                      <th>Last Work</th>
                      <th>Phone</th>
                      <th>Project</th>
                      <th>Level</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="lead-detail">
                    {% for obj in response_data['data'] %}
                    <tr>
                      <td scope="row">
                        <div>{{response_data['data'][obj].data.lead_id}}</div>
                        <div>
                          <button type="button" class="btn btn-default" style="border: none; padding: 0px 4px"
                            data-toggle="tooltip" data-placement="right" title=""
                            data-original-title="'{{response_data['data'][obj].data.created_on}}'">
                            <p>{{response_data['data'][obj].data.created_on}}</p>
                          </button>
                        </div>
                      </td>
                      <td>{{response_data['data'][obj].data.first_name}}</td>
                      <td>{{response_data['data'][obj].data.assigned_to}}</td>
                      {% if 'followup' in response_data['data'][obj] %}
                      <td><p>{{response_data['data'][obj].followup.followup_sub_type}}</p>
                        <p>{{response_data['data'][obj].followup.followup_completion_date}}</p></td>
                      {% else %}
                      <td></td>
                      {% endif %}
                      <td>{{response_data['data'][obj].data.phone_number}}</td>
                      <td>{{response_data['data'][obj].data.project}}</td>
                      <td>{{response_data['data'][obj].data.lead_level}}</td>
                      <td>
                        <p><form class="" action="/api/follow_ups/follow_read" target="_blank" method="POST" id="follow_up_lead">
                          <input type="hidden" name="lead" value="{{response_data['data'][obj].data.id}}">
                          <input type="submit" class="mdi mdi-file-restore" value="view all">
                        </form></p>
                        {% if 'followup' in response_data['data'][obj] %}
                        <p><button type="button" class="btn btn-default" style="border: none; padding: 0px 4px"
                          data-toggle="tooltip" data-placement="left" title="'{{response_data['data'][obj].followup.followup_comment}}'" data-original-title="'{{response_data['data'][obj].followup.followup_comment}}'"><i
                            class="mdi mdi-comment-outline"></i></button></p>
                        <p>TLW: {{response_data['data'][obj].followup.followup_count}}</p>
                        {% else %}
                        <p>TLW: 0</p>
                        {% endif %}
                        <p><a href="/api/follow_ups/create?lead={{response_data['data'][obj].data.id}}"><i
                              class="glyphicon glyphicon-plus"></i></a></p>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div> <!-- container -->

  </div> <!-- content -->

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

{% endblock %}

{% block scriptfooter %}

<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.scroller.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.colVis.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- init -->
<script src="{{ url_for('static', filename='pages/jquery.datatables.init.js') }}"></script>
<script src="{{ url_for('static', filename='pages/jquery.form-pickers.init.js') }}"></script>

<script>
  $("table").each(function () {
    $(this).DataTable({
      "bFilter": true,
      "aaSorting": [],
      "pageLength": 100
    });
  })
    // TableManageButtons.init();

</script>

{% endblock %}